<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="uk-navbar-container uk-active uk-container-expand uk-sticky-fixed">
            <nav class="uk-navbar">
                <div class="uk-navbar-left">
                    {% if app.user %}
                    <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
                    {% endif %}
                    <a href="{{ path('public_home') }}" class="uk-navbar-item uk-logo">
                        {{ app_name }}
                    </a>
                </div>

                <div class="uk-navbar-right">
                    {% if app.user %}
                        <ul class="uk-navbar-nav">
                            <li class="uk-active">
                                <a href="#">Èrik &nbsp;<span uk-icon="chevron-down"></span></a>
                                <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li class="uk-nav-header">Options</li>
                                        <li><a href="#">Edit Profile</a></li>
                                        <li class="uk-nav-header">{% trans %}Actions{% endtrans %}</li>
                                        <li><a href="{{ path('logout') }}">{% trans %}Logout{% endtrans %}</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="uk-navbar-nav">
                            <li><a href="{{ path('login') }}">{% trans %}Login{% endtrans %}</a></li>
                        </ul>

                    {% endif %}
                </div>
            </nav>
        </div>
        <main class="uk-container uk-container-expand">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
